body {
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url(../images/mountain-bg.jpg) no-repeat center -500px fixed;
}
h1 {
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: -4px;
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  width: 940px;
  margin: 90px auto;
}
h3, h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
/*header h3 {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 218px 0 36px 0;
}*/
nav {
  width: 640px;
  margin-left: 480px;
}
header {
  min-height: 600px;
  max-width: 960px;
  margin: 0 auto;
  padding: 90px 10px 60px 10px;
}
section, footer {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
footer {

}
address {

}
nav a {
  width: 140px;
  padding: 0 10px;
  text-decoration: none;
  color: #fff;
  float: left;
}
header h1 {
  margin-bottom: 60px;
}
header h1 img {
  height: 60px;
}
header p {
  font: 400 1.8em/1.5em 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: -.03em;
  /*font: 36px/46px 'Crimson Text', Georgia, serif;*/
  max-width: 620px;
}
.program-info p {
  font: 30px/36px 'Crimson Text', Georgia, serif;
  color: #fff;
  max-width: 640px;
  margin-left: 170px;
}
.program-info h3 {
  color: #9bdaf1;
  max-width: 300px;
}
/* Structure */
.container-fluid {
  width: 100%;
  height: auto;
}
.hero {
  background: transparent url(../images/tile-blue.png) repeat;
}
.program-info {
  background-color: #112e51;
  padding: 60px 0;
}
.short-divider {
  width: 60px;
  border-top: 2px solid #9bdaf1;
  margin: 60px 0 60px 170px;
}


@media (max-width: 800px) {
  header, section, footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  header p {
    font: 400 36px/42px 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
  }
  .program-info p {
    margin-left: 0;
  }
  .short-divider {
    margin-left: 0;
  }
}
