---
---

/* ------------------------------
Variables: Typography
--------------------------------*/
$sans-serif: 'Libre Franklin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Cormorant Garamond', Georgia, serif;

/* ------------------------------
Variables: Colors
--------------------------------*/
$base: #212121;
$primary: #0071bc;
$primary-alt: #02bfe7;  // bright blue
$primary-alt-light: #9bdaf1;  // light blue
$primary-alt-lightest: #e1f3f8;
$primary-alt-dark: #00a6d2;
$primary-darker: #205493;
$primary-darkest: #112e51;  // dark blue
$primary-alt-darkest: #046b99;
$secondary-dark: #cd2026;   // red
$secondary-darkest: #981b1e;
$gray-warm-dark: #494440;
$gray-cool-light: #dce4ef;
$gray-warm-light: #e4e2e0;
$gray-warm-lightest: #eee;
$gray-light: #aeb0b5;
$gold-lighter: #fad980;
$gold-lightest: #fff1d2;

/* ------------------------------
Extends
--------------------------------*/

/* ------------------------------
Base styles
--------------------------------*/
* {
  box-sizing: border-box;
}
body {
  font-family: $sans-serif;
  // -webkit-font-feature-settings: "liga", "dlig";
  // -moz-font-feature-settings: "liga=1, dlig=1";
  // -moz-font-feature-settings: "liga", "dlig";
  // -ms-font-feature-settings: "liga", "dlig";
  // -o-font-feature-settings: "liga", "dlig";
  // font-feature-settings: "liga", "dlig";
}
body, h1, h2, h3, h4, h5, p, ul, ol, li {
  margin: 0;
  padding: 0;
}
h1{
  font: 1em/1.2 $serif;
}
h2 {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.25;
}
h3 {

}
p {
  font-size: .875em;
  line-height: 1.2;
}
a {
  text-decoration: none;
  color: $primary-alt;
}
strong {
  font-weight: 700;
}
header, section, footer {
  max-width: 960px;
}
header {
  margin: 0 auto;
  padding: 60px 0;
}
section {
  margin: 0 auto;
}
section, footer {
  padding: 0 20px;
}
footer {
  margin: 90px auto 160px auto;
}
address, footer .seal {
  font-size: .875em;
  font-style: normal;
  width: 280px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid $primary-alt;
}
address {
  padding: 20px 10px 0;
}
footer .seal {
  margin-top: 60px;
  padding: 20px 10px 20px 10px;
}
/* ------------------------------
Layout
--------------------------------*/
#homepage, #about-us, #our-work, #partner {
  background: url(../images/bridge-bg.jpg) no-repeat center 0 fixed;
  background-size: cover;
}
.container-fluid {
  width: 100%;
  height: auto;
  background-color: #fff;
}
.gray-warm-dark {
  background-color: $gray-warm-dark;
}
.gray-warm-light {
  background-color: $gray-warm-light;
}
.gray-warm-lightest {
  background-color: $gray-warm-lightest;
}
.gray-cool-light {
  background-color: $gray-cool-light;
}
.gray-bg {
  background: transparent url(../images/tile-grey.png) repeat;
}
.primary-darkest {
  background-color: $primary-darkest;
}
.primary-alt-darkest {
  background-color: $primary-alt-darkest;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  z-index: 999;
}
.usa-site-header {
  max-width: 960px;
  margin: 0 auto;
  padding: 4px 0;
  height: auto;
  overflow: hidden;
}
.usa-site-header .usa-disclaimer-stage {
  float: left;
}
.usa-disclaimer {
  float: right;
}
.hero {
  padding: 0 20px 30px 20px;
}
.masthead {
  @extend .gray-bg;
  min-height: 480px;
}
.program-info {
  // background-color: $primary-darkest;
  padding-bottom: 180px;
  z-index: 1;
  height: auto;
  overflow: hidden;
}
.case-studies {
  display: flex;
  flex-direction: row;
  padding: 60px 0 120px 0;
}
.case-studies section {
  align-items: stretch;
  // padding: 20px;
  flex-basis: 33.33%;
}
/* ------------------------------
Navigation
--------------------------------*/
nav {
  max-width: 960px;
  margin: 0 auto;
}
nav ul {
  max-width: 960px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}
nav ul li {
  display: flex;
  width: 150px;
  margin-left: 10px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
nav ul li a {
  font-size: .75em;
  width: 150px;
  height: 30px;
  color: #fff;
  align-items: stretch;
  border-bottom: 1px solid #fff;
  display: block;
  padding: 4px 0;
  align-self: flex-start;
}
nav ul li a:hover {
  border-bottom: 1px solid #000;
}
nav ul li a.active {
  border-bottom: 3px solid #fff;
  color: #fff;
  // color: $primary-alt-light;
}
nav ul li:first-child {
  flex-grow: 2;
  margin-left: 0;
  margin-top: -6px;
}
nav ul li:first-child a {
  border-bottom: none;
}
nav ul li:first-child a img {
  height: 30px;
}
/* ------------------------------
Typography
--------------------------------*/
.usa-site-header p {
  font-size: 11px;
}
h2, .hero p {
  font: 400 2.5em/1.5 $sans-serif;
  letter-spacing: .02em;
  max-width: 600px;
  padding: 2px;
  display: inline;
  background-color: rgba(255, 255, 255, .6);
}
.program-info p, .program-info ul li, .program-info ol li {
  font: 500 1.875em/1.2 $serif;  // font: 30px/36px 'Cormorant Garamond', Georgia, serif;
  color: #fff;
  max-width: 640px;
  margin-left: 170px;
  padding-bottom: 30px;
  // -webkit-font-smoothing: antialiased;
  // text-rendering: optimizeLegibility;
}
.program-info.primary-darkest h3 {
  color: $primary-alt-light;
  font-size: .75em;
  font-weight: 400;
  line-height: 2;
  max-width: 200px;
  position: relative;
  letter-spacing: .0825em;
  text-transform: uppercase;
  font-weight: 400;
  max-width: 200px;
  display: block;
  margin-top: 120px;
  margin-bottom: 60px;
  padding-top: 20px;
  position: relative;
}
.program-info h3:before { // This adds a 60px-rule above
  content: "";
  background-color: $primary-alt-light;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 60px;
}
.program-info h4 {
  font: 400 1em/2.25 $sans-serif;
  letter-spacing: .05em;
  margin: 15px 0 15px 170px;
  color: $gray-cool-light;
}
.case-studies section h3, .case-studies section p {
}
.case-studies section h3 {
  // margin-bottom: .825em;
  min-height: 5em;
  align-self: flex-start;
  font: 600 1.5em/1.325 $sans-serif;
  color: $gray-warm-dark;
  padding-bottom: .5em;
  margin-bottom: 1em;
  border-bottom: 1px solid $gray-warm-dark;
}
.case-studies section p {
  font-size: .825em;
  line-height: 1.625;
  margin-bottom: 1.5em;
  min-height: 4em;
  align-self: flex-start;
  word-wrap: break-word;
  padding-right: 20px;
  // color: $gray-warm-dark;
}
.case-studies section p.eyebrow {
  text-transform: uppercase;
  font-size: .5em;
  font-weight: 600;
  letter-spacing: .1em;
  margin-bottom: .625em;
  min-height: 2em;
  display: block;
  margin-top: 4em;
  color: $secondary-darkest;
}
// .program-info.primary-alt-darkest section h3 {
//   max-width: 360px;
// }
.program-info.primary-alt-darkest section h3 {
  font-size: 1.625em;
  font-weight: 300;
  // font: 400 1em/2.25 $sans-serif;
  // letter-spacing: .05em;
  margin: 150px 0 60px 170px;
  color: #fff;
  position: relative;
  padding-top: 30px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.program-info.primary-alt-darkest section h3:before {
  content: "";
  background-color: $primary-alt-light;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 60px;
}
.program-info.primary-alt-darkest section h3 span.sm-subhead {
  display: block;
  color: $primary-alt-light;
}
// .program-info.primary-alt-darkest section h4:first-child {
  // margin-top: 15px;
// }
.program-info.primary-alt-darkest section p.eyebrow {
  font-family: $sans-serif;
  text-transform: uppercase;
  font-size: .625em;
  font-weight: 600;
  letter-spacing: .1em;
  padding: 15px 0;
  color: $primary-alt-light;
  // margin-bottom: .625em;
}
.program-info.primary-alt-darkest section a {
  color: $gold-lighter;
  border-bottom: 1px solid $gold-lighter;
}
address p {
  margin-bottom: 12px;
}
address a {
  color: $primary;
}
/* ------------------------------
Components
--------------------------------*/
.skipnav {
  background: transparent;
  color: $primary;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  // transition: all 0.2s ease-in-out;
}
.skipnav:focus {
  background: #ffffff;
  left: 0;
  outline: 0;
  position: absolute;
  top: 0;
  // transition: all 0.2s ease-in-out;
}
.program-info p a:hover, .program-info ul li a:hover {
  border-bottom: 1px dotted $primary-alt;
}
.program-info ul {
  list-style-type: square;
}
.program-info a[href ^="mailto:"] {
  padding-right: 40px;
  background: url(../images/email.svg) right center no-repeat;
  background-size: 16%;
}
.program-info a[href $="pdf"] {
  padding-right: 30px;
  background: url(../images/pdf.svg) right center no-repeat;
}
.usa-site-header a {
  color: $primary-alt-dark;
}
.usa-site-header a:hover {
  border-bottom: 1px solid $primary;
}
.program-info a.button {
  padding: 12px 60px;
  border: 1px solid $primary-alt;
  font: 1.25em/1.5 $sans-serif;
  margin: 0 0 90px 170px;
  display: inline-block;
  letter-spacing: .05em;
}
.program-info a:hover.button {
  color: #fff;
}
.case-studies a {
  color: $primary-alt-darkest;
  font-weight: 500;
  border-bottom: 1px dotted $primary-alt-darkest;
}
.case-studies a:hover {
  border-bottom: 1px solid $primary-alt-darkest;
}
address a.social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: $primary-alt-light;
  padding-left: 2px;
  margin-bottom: 30px;
}
address a:hover.social-icon {
  text-decoration: none;
  background-color: $primary-alt;
}
footer .seal img {
  width: 90px;
  height: 90px;
  margin-top: 12px;
}

/* ------------------------------
Device-specific
--------------------------------*/
@media (max-width: 320px) {
  #homepage {
    background: none;
  }
  .usa-disclaimer, .usa-site-header .usa-disclaimer-stage {
    float: none;
    padding-left: 10px;
  }
}
@media (max-width: 800px) {
  // #homepage h1 img {
  //   height: 40px;
  // }
  #homepage, #about-us, #our-work, #partner  {
    background: url(../images/bridge-bg-sm.jpg) no-repeat center 0 fixed;
    // background-size: auto;
  }
  nav, section, footer, .container {
    width: calc(100% - 20px);
  }
  .hero {
    width: calc(100% - 40px);
  }
  .hero h2, .hero p {
    font-size: 1.5em;
  }
  .usa-site-header {
    width: 100%;
  }
  .usa-disclaimer, .usa-site-header .usa-disclaimer-stage {
    float: none;
    padding-left: 10px;
  }
  .case-studies {
    flex-direction: column;
  }
  .case-studies section {
    flex-basis: 100%;
  }
  .case-studies section p:first-child {
    border-top: 1px solid $gray-warm-dark;
    padding-top: 6em;
  }
  .case-studies section p:last-child {
    padding-bottom: 3em;
  }
  .case-studies section:first-child p {
    border-top: none;
  }
  .case-studies section h3 {
    min-height: auto;
    border-bottom: none;
  }
  nav ul, nav ul li, nav ul li a {
    width: 100%;
  }
  nav ul, nav ul li {
    flex-direction: column;
  }
  nav ul li {
    flex-grow: 0;
    margin-left: 0;
  }
  nav ul li a {
    min-height: 40px;
    // padding-left: 20px;
    padding: 10px 0 0 20px;
    background: none;
  }
  nav ul li:first-child a {
    margin-bottom: 10px;
    padding-left: 10px;
  }
  nav ul li a.active {
    background: url(../images/arrow.svg) left 15px no-repeat;
    border-bottom: 1px solid #fff;
  }
  // #our-work .program-info ol {
    // flex-direction: column;
    // display: flex;
    // counter-reset: li;
    // list-style:none;
    // margin-top: 20px;
    // margin-bottom: 90px;
  // }
  .program-info h3 {
    margin-left: 10px;
  }
  .program-info p, .program-info ul li, .program-info ol li, .program-info h4, .program-info.primary-alt-darkest section h3 {
    margin-left: 10px;
    width: calc(100% - 20px);
  }
  .program-info p, .program-info ul li, .program-info ol li {
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: .02em;
    hyphens: auto;
  }
  .program-info a.button {
    margin-left: 10px;
  }
}
@media (min-width: 960px) {
  #our-work .program-info ol {
    display: flex;
    flex-direction: row;
    counter-reset: li;
    list-style:none;
    margin-top: 20px;
    margin-bottom: 90px;
  }
  #our-work .program-info ol > li {
    align-items: stretch;
    width: 20%;
    font: 400 .7em/1.5 $sans-serif;
    margin: 0;
    padding: 100px 10px 0 10px;
    -webkit-font-smoothing: antialiased;
    // text-rendering: optimizeLegibility;
    position: relative;
    word-wrap: break-word;
  }
  #our-work .program-info ol li:first-child {
    padding-left: 0;
  }
  #our-work .program-info ol li:last-child {
    padding-right: 0;
  }
  #our-work .program-info ol li:before {
    position: absolute;
    display: block;
    content: counter(li);
    counter-increment: li;
    top: 20px;
    left: 50px;
    font-size: 1.5em;
    font-family: 'Roboto Mono', Arial, monospace;
    border: 1px solid $primary-alt;
    color: $primary-alt;
    // background-color: $primary-darker;
    width: 31px;
    height: 40px;
    border-radius: 25px;
    padding-left: 19px;
    padding-top: 10px;
  }
}
@media (max-width: 960px) {
  nav ul li:first-child a {
    margin-left: 12px;
  }
}

// @media (min-width: 2561px) {
//   #homepage, #about-us, #our-work, #partner {
//     background-size: cover;
//   }
// }
