<nav class="links">
  <p>
    Learn more <a href="{{ site.baseurl }}/about_us/index.html">about us</a> /
    Get details about <a href="{{ site.baseurl }}/our_work/index.html">our work</a>, including our process and case studies /
    Become a federal or private-sector <a href="{{ site.baseurl }}/partner/index.html">partner</a>
  </p>
  <!-- <p>
    Learn more: <a href="{{ site.baseurl }}/about_us/index.html">About us</a> /
    Get details about <a href="{{ site.baseurl }}/our_work/index.html">Our work</a>: What we do, Our process, and Case studies /
    Let&rsquo;s work together: <a href="{{ site.baseurl }}/partner/index.html">Partner with us</a>
  </p> -->
</nav>
