<footer>
  <address>
    <p>National Technical Information Service</p>
    <p>(800) 553-6847<br>
      <a href="mailto:info@ntis.gov">info@ntis.gov</a>
    </p>
    <a href="https://www.facebook.com/NTISCustomerContactCenter/" class="social-icon">
      <svg width="26" height="26" role="img" aria-label="Facebook">
        <title>Facebook</title>
        <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/designstandards/img/social-icons/svg/facebook25.svg" src="{{ site.baseurl }}/assets/designstandards/img/social-icons/png/facebook25.png" width="26" height="26" ></image>
      </svg>
    </a>
    <a href="https://twitter.com/NTISInfo" class="social-icon">
      <svg width="26" height="26" role="img" aria-label="Twitter">
        <title>Twitter</title>
        <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/designstandards/img/social-icons/svg/twitter16.svg" src="{{ site.baseurl }}/assets/designstandards/img/social-icons/png/twitter16.png" width="26" height="26" ></image>
      </svg>
    </a>
  </address>
  <div class="seal">
    <p>
      A U.S. Department of Commerce agency
    </p>
    <img src="{{ site.baseurl }}/assets/site/img/doc-seal-bw.png" alt="Logo image">
  </div>
</footer>

</body>
</html>
