

      <footer class="usa-footer usa-footer-medium usa-sans" role="contentinfo">
        <div class="usa-footer-primary-section">
          <div class="usa-footer-secondary_section">
            <div class="usa-grid">
              <div class="usa-footer-logo usa-width-one-half" style="margin-top: 15px;">
                <img class="usa-footer-logo-img" src="{{ site.baseurl }}/assets/site/img/doc-seal.png" alt="Logo image">
              </div>

              <div class="usa-footer-contact-links usa-width-one-half">
                <div class="usa-social-links">
                  <a href="https://www.facebook.com/NTISCustomerContactCenter/">
                    <svg width="26" height="39" role="img" aria-label="Facebook">
                      <title>Facebook</title>
                      <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/designstandards/img/social-icons/svg/facebook25.svg" src="/assets/designstandards/img/social-icons/png/facebook25.png" width="26" height="39"></image>
                    </svg>
                  </a>
                  <a href="https://twitter.com/NTISInfo">
                    <svg width="26" height="39" role="img" aria-label="Twitter">
                      <title>Twitter</title>
                      <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/designstandards/img/social-icons/svg/twitter16.svg" src="/assets/designstandards/img/social-icons/png/twitter16.png" width="26" height="39"></image>
                    </svg>
                  </a>
              
                </div>

                <address>
                  <h3 class="usa-footer-contact-heading">Contact Us</h3>
                  <p>(800) 553-6847</p>
                  <a href="mailto:info@ntis.gov">info@ntis.gov</a>
                </address>
              </div>
            </div>
          </div>
        </footer>

      </div>
    </div>

    <script src="{{ site.baseurl }}/assets/designstandards/js/uswds.min.js"></script>
  </body>
</html>
