<div class="container-fluid hero">
  <header class="sub-page">
    <nav>
      <a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/images/ntis-logo-2c.svg" alt="NTIS logo"></a>
      <a href="{{ site.baseurl }}/about_us/index.html" class="active">About us</a>
      <a href="{{ site.baseurl }}/our_work/index.html">Our work</a>
      <a href="{{ site.baseurl }}/partner/index.html">Partner with us</a>
    </nav>
  </header>
  <div class="container">
      {{ page.summary }}
  </div>
</div>
