{% include header.html %}

<div id="main-content" class="container-fluid program-info primary-darkest">
  <section>
    {{ content }}
  </section>
</div>

<div class="container-fluid program-info primary-alt-darkest">
  <section>
    <!-- <p class="eyebrow">Case Study</p> -->
    <h3><span class="sm-subhead">Case Study/</span>Drug Enforcement Administration (DEA)</h3>
    <p class="eyebrow">Challenge</p>
    <p>
      Manage data and subscribers. Prevent abuse and misuse of controlled substances.
    </p>
    <p class="eyebrow">Solution</p>
    <p>
      The DEA maintains a list of people and organizations certified to handle controlled substances and chemicals used to produce over-the-counter drugs. Clinics, health insurance companies, HMOs, and pharmaceutical companies need to access that information regularly and quickly. Our team <a href="www.ntis.gov/products/dea/">made that data available</a> and continues to vet its subscriber base.
    </p>

    <h3><span class="sm-subhead">Case Study/</span> Social Security Administration</h3>
    <p class="eyebrow">Challenge</p>
    <p>
      Manage, distribute, and update large datasets. Prevent fraud and abuse.
    </p>
    <p class="eyebrow">Solution</p>
    <p>
      The Social Security Administration’s <a href="https://dmf.ntis.gov/">Death Master File</a> is used by credit card companies and other businesses to detect fraud and abuse and determine eligibility for products and services. Distributing and updating datasets — especially ones with vetted subscriber lists — can be cumbersome and expensive. Our team maintains the master file and processes new applicants requesting access to the data.
    </p>

    <h3><span class="sm-subhead">Case Study/</span> US Citizenship and Immigration Services (USCIS)</h3>
    <p class="eyebrow">Challenge</p>
    <p>
      Deploy infrastructure quickly and securely. Limit hassle and overhead.
    </p>
    <p class="eyebrow">Solution</p>
    <p>
      With the help of Joint Venture Partners, our team provided the necessary infrastructure, services, and personnel to move the USCIS website to a <a href="https://my.uscis.gov/">new home</a>. This work was part of a larger, multi-agency effort to simplify immigration.
    </p>

  </section>


</div>

{% include footer.html %}
