{% include header.html %}

<div id="main-content" class="container-fluid program-info primary-darkest">
  <section>
    {{ content }}
  </section>
  <nav class="links">
    <p>
      Learn more: <a href="about-us/index.html">About us</a> /
      Find out details on <a href="our-work/index.html">what we do</a>, <a href="our-work/index.html">our process</a> and <a href="our-work/index.html">view case studies</a> /
      <a href="partner/index.html">Partner with us</a>
    </p>
  </nav>
</div>

{% include footer.html %}
